<h2>Sign up</h2>

<% if resource.errors.any? %>
  <div class="error-notification">
    <p>Please review the problems below:</p>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input(:name,
      :required => true,
      :autofocus => true,
      :error => false,
      :input_html => { :autocomplete => "name" }
    ) %>

    <%= f.input(:email,
      :required => true,
      :error => false,
      :input_html => { :autocomplete => "email" }
    ) %>

    <div class="input password required">
      <%= f.label(:password) %>
      <div class="password-hint">(6 characters minimum)</div>
      <%= f.password_field(:password,
        :required => true,
        :autocomplete => "new-password"
      ) %>
      <!-- remove the inline error -->
      <!-- <%= f.error(:password) %> -->
    </div>

    <%= f.input(:password_confirmation,
      :required => true,
      :error => false,
      :input_html => { :autocomplete => "new-password" }
    ) %>
  </div>

  <div class="form-actions">
    <%= f.button(:submit, "Sign up") %>
  </div>
<% end %>

<%= render("devise/shared/links") %>
