<h1>Your Watched Archive</h1>

<% if @rows.blank? %>
  <p>You haven't marked any movies as seen yet 🤭. </p>
<% else %>
  <p>You’ve marked <%= @rows.size %> movie<%= "s" if @rows.size != 1 %> as seen.</p>

  <table role="grid" class="results-table">
    <thead>
      <tr>
        <th>Movie</th>
        <th>Marked seen on</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @rows.each do |row| %>
       <% item  = row[:item] %>
        <% movie = row[:movie] %>
        <tr>
          <td>
            <a href="/movies/<%= movie["id"] %>">
              <strong><%= movie["title"] %></strong>
            </a>
          </td>

        <td>
          <%= item.updated_at.in_time_zone("America/Chicago").strftime("%b %-d, %Y") %>
        </td>

          <td>
              <!-- Remove from seen = delete the row OR set seen=false? -->
            <form action="/remove_from_seen" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="tmdb_id" value="<%= movie["id"] %>">
              <button style="font-size: 0.8rem; padding: 0.1rem 0.4rem;"> ❌ Remove
              </button>
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
